/* .show-component img{
    width: 30px;
} */

main {
    padding-top: 130px;
    color: aliceblue;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

main .title {
    text-align: center;
    font-size: 40px;
}

.wrapper-all-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    /* border-left: 1px hsl(57, 97%, 45%) solid; */
    padding-right: 30px;
    margin-top: 30px;
    /* box-shadow: rgba(141, 126, 126, 0.3) 0px 0px 10px; */
}

.show-component {
    width: 22%;
    /* padding-left: 25px; */
    margin: 15px 12px;
    border-radius: 2px;
    color: black;
    border-radius: 10px;
    box-shadow:  1px 1px 10px 1px rgba(211, 190, 190, 0.3);

}

.show-component img {
    width: 100%;
}

.suggest-content {
    width: 20%;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 3px;
    background-color: #242d33;
    color: #ddd;
    margin: 45px 20px 0px 50px;
}

.suggest-content .menu-option {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px hsl(57, 97%, 45%) solid;

}

.suggest-content .menu-option h6 {
    font-size: 30px;
}

.suggest-content .menu-option i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.suggest-content .option {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.suggest-content .option a {
    color: #ddd;
    margin-top: 10px;
}

.suggest-content .option a:hover {
    color: hsl(57, 97%, 45%);
}

.show-component-inf {
    padding: 5px 10px;
}

.option {
    position: relative;
}

.option .option-film::before {
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent hsl(57, 97%, 45%);
    position: absolute;
    top: 6%;
    left: -10px;
}

main .next-page {
    margin: auto 540px;
}
.number-page.current-page{
    padding-inline: 4px;
    border-bottom: 2px solid hsl(57, 97%, 45%); /* Độ dày và màu sắc của gạch chân */
    display: inline;
}
main .next-page .next-page-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
}

main .next-page .next-page-control a {
    color: #ddd;
}

main .next-page .next-page-control a:hover {
    color: hsl(57, 97%, 45%);
}

main .next-page .next-page-control a {
    display: flex;
    align-items: center;
}

.cart-meta {
    padding-bottom: 4px;
}

.title-wrapper,
.cart-meta {
    padding: 0px 3px;
}
@media screen and (max-width:550px) {
    section{width: 100vw;}
    .suggest-content{
        display: none;
    }
    .wrapper-all-show{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .show-component{
        width: 40%;
    }
    .badge.badge-outline{
        display: none;
    }
    .title-wrapper{
        flex-direction: column;
    }
    .title-wrapper .card-title{
        font-size: 14px;
    }
}